* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #c31432;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.buttons button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline-style: none;
  color: white;
  font-size: 1.2rem;
  margin: 15px;
}
.buttons button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.buttons button.btn-red {
  background-color: #eb4d4b;
}
.buttons button.btn-green {
  background-color: #6ab04c;
}
.buttons button.btn-blue {
  background-color: #22a6b3;
}

.center {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  border-radius: 0px;
  display: inline;
  position: relative;
  font-size: 80px;
  letter-spacing: -2px;
  color: rgba(139, 163, 142, 0.5);
  font-family: "Montserrat", sans-serif;
}
.title:after {
  content: "Blackjack";
  position: absolute;
  left: 3px;
  top: 4px;
  color: rgba(253, 252, 71, 0.6);
}
.title__container {
  text-align: center;
}

.game {
  padding-left: 3rem;
  margin-top: 2rem;
}

.player {
  padding-left: 20px;
  color: white;
}
.player span {
  color: #fdfc47;
}
.player__card {
  width: 150px;
  position: relative;
  left: 100px;
  margin: 20px;
  margin-left: -75px;
}

.computer {
  padding-left: 20px;
  color: white;
}
.computer span {
  color: #fdfc47;
}
.computer__card {
  width: 150px;
  position: relative;
  left: 100px;
  margin: 20px;
  margin-left: -75px;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 3rem;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.message {
  font-size: 1.1rem;
  margin-bottom: 1.6rem;
  margin-top: 0;
}

.btn {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background: white;
  padding: 0.3rem 3.4rem;
  border: 3px solid black;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
}

.btn:last-child {
  margin: 0;
}

.btn:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}

.btn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .title {
    font-size: 40px;
    letter-spacing: 0.1px;
  }

  .buttons button {
    padding: 5px;
    margin: 10px;
  }

  .player {
    padding: 0;
    margin: 0;
  }

  .game {
    padding-left: 1.5rem;
    margin-top: 0rem;
  }

  .computer {
    padding: 0;
  }
}